* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
  color: teal;
  text-shadow: slateblue;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  margin-top: 27px;
}
.arrayObjects {
    margin: 0 auto;
    margin-top: 155px;
  border: 0px solid;
  border-radius: 9px;
  width: 779px;
  padding:23px;
  background-color: antiquewhite;
  font-family: monospace;
  font-size:19px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.623);
}
